/*****FUENTES*****/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Inter&family=Work+Sans&display=swap');

/*****Global CSS*****/
:root{
    --Font:#E5E5E5;
    --White:#FFFFFF;
    --Dark-Blue:#0A3871;
    --Greey: #C5C5C5;
    --Medium-Gray: #67808E;
    --RGBA: rgba(0,0,0,0.08);
    --Whiite-Blue: #D8DFE8;
    --Medium-Blue:#0A38718A;
    --Gray:#343A40;
    --Gree:#495057;
    --Black:#131313;
    --Yellow:#FFDFD3;
    --Orange: #D291BC;
    --Sky-Blue: #FEC8D8;
    --Pink-Lavender:#F1C0E8;
    --Baby-Pink:#FFCFD2;
    --Champagne-Pink:#FDE4CF;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter, sans-serif";
    text-decoration: none;
    background: var(--White);
}

::selection {
    background: var(--Dark-Blue);
    color: var(--White);
}

.body {
    height: 100%;
}

img {
    max-width: 100%;
}

/*********Encabezado*********/

header {
    position: absolute;
    margin: 40px 0 0 40px;
}

header .logo {
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}

/********Sección Principal********/

main {
    display: flex;
    flex-direction: row;
    background: url(../img/portada.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.encriptador {
    width: 60%;
    margin: 168px 0 0 140px;
    background: transparent;
}

.encriptar {
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--Greey);
    border-radius: 25px;
    resize: none;
}

.encriptar::placeholder,:focus {
    color: var(--Dark-Blue);
}

.encriptador-aviso {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}

.texto-aviso {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--Medium-Gray);
}

.encriptador-contenedor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}

.btn-encriptar, .btn-desencriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--Black);
    background: none;
    border: 2px solid var(--Yellow);
    border-radius: 24px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    background-color: var(--Yellow);
    box-shadow: 0 20px 29px -5px var(--RGBA);
}

.btn-copiar:active,
.btn-desencriptar:active, 
.btn-encriptar:active {
    box-shadow: inset 2px 2px 4px var(--Orange), inset -3px -4px 8px var(--Orange);
    color: var(--Orange);
    transform: scale(0.9);
}


.tarjeta-lateral {
    width: 270px;
    height: 580px;
    background: var(--Font);
    box-shadow: 10px 24px 32px -8px var(--Font);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}

.tarjeta-contenedor {
    width: 250px;
    margin: auto;
    margin-top: 10%;
    background: var(--Font);
}

.img-muñeco{
    background: var(--Font);
}

.texto-uno {
    font-style: normal;
    font-weight: 700;
    font-size: 18.5px;
    line-height: 120%;
    text-align: center;
    color: var(--Gray);
    background: var(--Font);
}

.texto-dos {
    font-style: normal;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 150%;
    text-align: center;
    color: var(--Medium-Gray);
    background: var(--Font);
}

.evaluar {
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--Gree);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}

.evaluar:focus {
    outline: none;
}

.btn-copiar {
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--Whiite-Blue);
    border: 1px solid var(--Champagne-Pink);
    border-radius: 20px;
    cursor: pointer;
    color: var(--Black);
    overflow: hidden;
    transition: all 0.3s;
    background-color: var(--Champagne-Pink);
    box-shadow: 0 20px29px -5px var(--RGBA);

}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover {
    background-color:var(--Sky-Blue);
    color: var(--Gree);
    font-weight: bolder;
    transform: scale(0.97);
}

.btn-encriptar::before, .btn-copiar::before {
    content: "";
    position: absolute;
    width: 151px;
    height: 120%;
    background-color: var(--Orange);
    top: 50%;
    transform: skewX(30deg) translate(-280px, -50px);
    transition: all 0.5s;
}

.btn-desencriptar::before {
    content: "";
    position: absolute;
    width: 159px;
    height: 120%;
    background-color: var(--Orange);
    top: 50%;
    transform: skewX(30deg) translate(-280px, -50px);
    transition: all 0.5s;
}

.btn-encriptar:hover::before, .btn-desencriptar:hover::before, .btn-copiar:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}


/********Pie de Página********/

footer {
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--Font);
    color: var(--Gray);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
}

.linkedin:hover {
    color: var(--Font);
    opacity: 0.8;
}

.github:hover {
    color: var(--Font);
    opacity: 0.6;
}

/********Media********/

@media(max-width: 1250px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador {
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador-contenedor {
        display: flex;
        align-items: center;
        position: inherit;
    }

    .encriptador-aviso {
        position: inherit;
        margin: 15px;
    }

    .tarjeta-lateral {
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .tarjeta-contenedor {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }

    .img-muñeco {
        display: none;
    }

    .btn-copiar{
        position: inherit;
        width: 100%;
    }

    .evaluar {
        width: 100%;
        height: 210px;
        padding: 10px;
    }

}

@media(max-width: 720px) {

    header .logo {
        width: 100%;
        background: var(--White);
        padding: 2px;
    }

    .encriptar {
        width: 90%;
        font-size: 24px;
    }

    .encriptador-contenedor {
        display: grid;
        gap: 21px;
    }

    .tarjeta-lateral {
        width: 90%;
    }

    .copyright {
        font-size: 20px;
    }
}